{% extends "swaps/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Editing Offer{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Editing Offer" %}</h1>
    
    {% ifequal offer.offerer request.user %}
        <div>
            <form class="uniForm" id="offer_form" method="POST" action="">
                {% csrf_token %}
                <fieldset class="inlineLabels">
                    {{ offer_form|as_uni_form }}
                    <div class="form_block">
                        <input type="hidden" name="action" value="update" />
                        <input type="submit" value="{% trans "update" %}"/>
                    </div>
                </fieldset>
            </form>
        </div>
    {% else %}
        <p>You are not the creator of this offer.</p>
    {% endifequal %}
{% endblock %}

{% block extra_body %}
    <script src="{{ STATIC_URL }}tagging_utils/js/jquery.autocomplete.js" type="text/javascript"></script>
    {% load tagging_utils_tags %}
    {% tag_autocomplete_js %} {# site-wide tags and counts #}
    {% comment %}
    {% tag_autocomplete_js "blog post all" %}  {# tags for model, site-wide count #}
    {% tag_autocomplete_js "blog post model" %} {# tags for model, count for model #}
    {% endcomment %}
{% endblock %}
