/* GENERAL */
html, body {
}
body {
    min-width: 960px;
    width: 80%;
    margin: 0 auto;
    font-family: "Monaco", "Courier", serif;
    min-width: 960px;
    background: url('/site_media/static/pinax/images/logo.gif') no-repeat center 100px;
}
a {
    text-decoration: none;
}
a:visited {
    color: #13C;
}
img {
}
dt {
}
table {
}
td {
}
h1 {
}

/* CLEARS */
.clearboth {
    clear: both;
}
/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */

/* DIVS in base.html */
div#site_wide_announcements {
}
div#subnav {
}
div#body {
    width: 85%;
    margin: 0 auto;
}
div#footer {
    margin: 50px auto;
    width: 95%;
}

/* HEADER */
#tabhead {
    border-bottom: 1px solid #000; /* tab border */
}
#tabhead #left_tabs {
}
#tabhead #right_tabs {
}
#tabhead .logo {
}
#tabhead .logo img {
}
#tabhead .login {
    margin: 4px;
    float: right;
}
#tabhead .login a, #tabhead .login a:visited {
}
#tabhead .login a:hover {
}
#tabhead form#locale_switcher {
    display: inline;
}
#tabhead ul.tabs {
    position: relative;
    width: 95%;
    margin: 5px auto;
}
#tabhead .tabs li {
    display: inline;
    margin: 4px;
}
/* MESSAGES */
ul#messages {
}
ul#messages li {
}
ul#messages li a {
}
ul#messages .debug {
}
ul#messages .info {
}
ul#messages .success {
}
ul#messages .warning {
}
ul#messages .error {
}

/* SUBNAV */
#subnav {
    width: 95%;
    margin: 0 auto;
}
#subnav ul li {
    display: inline;
    margin: 4px;
}
#subnav ul a:link, #subnav ul a:visited {
    font-size: 14px;
}
#subnav ul a:hover {
}
