/* GENERAL TAB STYLING */

#right_tabs {  /* shhh... really it's center */
    margin: 0 auto;
    width: 100%;
}
ul.tabs a, ul.tabs a:visited {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}
ul.tabs a:hover {
    color: #bbb;
}
ul.tabs li {
    list-style-type: none;
    display: inline;
}
ul.tabs li a {
    padding: 2px 8px;
}
ul.tabs {
    margin: 0 auto;
    margin-bottom:0;
    width:95%;
}
