{% extends "blog/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Write a Blog Post{% endblocktrans %}{% endblock %}

{% block body %}
    
    {# @@@ not sure how to bring back teaser toggle with uni_form #}
    <form class="uniForm" id="edit-profile" method="POST" action="">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ blog_form|as_uni_form }}
            <div class="form_block">
            <input type="hidden" name="action" value="create" />
            <input type="submit" value="{% trans "create" %}"/>
            </div>
        </fieldset>
    </form>
    
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#blog_form').validate('{% url blog_form_validate %}', {type: 'table'});
        });
    </script>
    <script src="{{ STATIC_URL }}tagging_utils/js/jquery.autocomplete.js" type="text/javascript"></script>
    {% load tagging_utils_tags %}
    {% tag_autocomplete_js %} {# site-wide tags and counts #}
    {% comment %}
    {% tag_autocomplete_js "blog post all" %}  {# tags for model, site-wide count #}
    {% tag_autocomplete_js "blog post model" %} {# tags for model, count for model #}
    {% endcomment %}
{% endblock %}
