{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load tagging_tags %}
{% load comments_tag %}
{% load photo_tags %}
{% load flagtags %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Editing Photo Details{% endblocktrans %}{% endblock %}

{% block body %}
    
    <div class="right_panel">
        {% include "photos/photo_right_panel.html" %}
    </div>
    
    <h1>{% trans "Photo Details" %}</h1>
    
    <div class="gallery-photo">
        <img src="{{ photo_url }}" alt="{{ photo.title }}"/>
    </div>
    
    {% ifequal photo.member request.user %}
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset align="center">
                {{ photo_form|as_uni_form }}
                <input type="hidden" name="action" value="update" /><input type="submit" value="update" /></td></tr>
            </fieldset>
        </form>
    {% else %}
        <p>You are not the author of this photo.</p>
    {% endifequal %}
    
{% endblock %}

{% block extra_body %}
    <script src="{{ STATIC_URL }}tagging_ext/js/jquery.autocomplete.js" type="text/javascript"></script>
    {% load tagging_ext_tags %}
    {% tag_autocomplete_js %} {# site-wide tags and counts #}
    {% comment %}
    {% tag_autocomplete_js "blog post all" %}  {# tags for model, site-wide count #}
    {% tag_autocomplete_js "blog post model" %} {# tags for model, count for model #}
    {% endcomment %}
{% endblock %}
